{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Detalle Aspirante
{% endblock titulo %}

{% block contenido %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>



<div class="container bootstrap snippet">
    
    <div class="row">
  		
    	<div class="col-sm-9">
            

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="first_name"><h4>Nombre</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" value="{{aspirante.first_name}}" disabled title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Apellidos</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" value="{{aspirante.last_name}}" disabled title="enter your last name if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" value="{{aspirante.email}}" disabled title="enter your email.">
                          </div>
                      </div>

                      <div class="form-group">
                          
                        <div class="col-xs-6">
                            <label for="email"><h4>Numero de aspirante</h4></label>
                            <input type="email" class="form-control" name="email" id="email" value="{{aspirante.num_aspirante}}" disabled title="enter your email.">
                        </div>
                    </div>
                            
                        <div class="col-xs-12">
                            <label for="comprobante_pago"><h4>Comprobante de pago</h4></label>
                            <br>
                            {% if tipoDocumento == "pdf" %}
                                <embed src="{{MEDIA_URL}}{{aspirante.comprobante_pago}}" type="application/pdf" width="100%" height="600px" id="comprobante_pago"/>
                            {% elif tipoDocumento == "jpg" or tipoDocumento == "png" %}
                                <img src="{{MEDIA_URL}}{{aspirante.comprobante_pago}}" alt="">
                            {% else %}
                                Formato no admitido, favor de solicitar al aspirante que suba el formato correcto
                            {% endif %}
                        </div>
                          
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	
                                  {% if aspirante.is_active == 0 %}
                                      <a href="{% url 'preinscripciones:aceptar_aspirante' aspirante.id %}">
                                      <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Aceptar</button>
                                  </a>

                                  {% else %}
                                        <a href="{% url 'preinscripciones:rechazar_aspirante' aspirante.id %}">
                                            <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-remove"></i>Rechazar</button>
                                        </a>
                                  {% endif %}
                                      
                                  <button class="btn btn-danger" onclick="muestraModal('{% url 'usuarios:eliminar' aspirante.id %}','aspirante', '{{aspirante.first_name}}')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    Eliminar
                                </button>
                            </div>
                      </div>
             </div><!--/tab-pane-->
          </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación de eliminación</h5>
                </div>
                <div id='contenido-modal' class="modal-body">        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                    <form id='formEliminar' method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block js %}
<script>
    function muestraModal(url,tipo,usuario){
        document.getElementById('formEliminar').action = url;
        document.getElementById('contenido-modal').innerHTML = `¿Deseas eliminar al ${tipo} ${usuario}?`;
    }
</script>
{% endblock js %}