{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Lista Aspirantes
{% endblock titulo %}

{% block contenido %}

<h1 class="titulo">Lista de Aspirantes</h1>
<table class="table">
    <thead>
        <th>Usuario</th>
        <th>Nombre(s)</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Numero de aspirante</th>
        <th>Estado</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        
        {% for aspirante in aspirantes %}
        <tr>
            <td>{{aspirante.username}}</td>
            <td>{{aspirante.first_name}}</td>
            <td>{{aspirante.last_name}}</td>
            <td>{{aspirante.email}}</td>
            <td>{{aspirante.num_aspirante}}</td>
            {% if aspirante.status %}
                <td>Aceptado</td>
            {% else %}
                <td>Rechazado</td>
            {% endif %}
            <td>
                <!-- acciones -->
                <a href="{% url 'preinscripciones:ver_aspirante' aspirante.id %}" class="btn btn-primary">Ver</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table> 

{% endblock contenido %}