{% extends "base.html" %}
{% load static %}

{% block titulo %}
  Nueva Materia para el grupo
{% endblock titulo %}


{% block contenido %}
<h1 class="titulo">Asignar Materia a Grupo</h1>
<form class="formulario" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-success">Agregar</button>
    <a href="{% url 'preinscripciones:nueva_materia_docente' %}" class="btn btn-primary">Asignar Docente a Materia</a>
</form>
{% endblock contenido %}