{% extends 'base.html' %}

{% block titulo %}
    Detalle de grupo
{% endblock titulo %}

{% block css %}
{% endblock css %}

{% block contenido %}
<div class="text-center">
    <h1 class="text-center">Detalle de Grupo</h1>

    <h3>Letra: {{grupo.letra}}</h3>
    <h3>Semestre: {{grupo.semestre}}</h3>
    <h3>Cupo: {{grupo.cupo}}</h3>
    <a href="{% url 'preinscripciones:lista_grupos' %}" class="btn btn-success">Regresar</a>
</div>


{% if grupo.horario %}
    <label for="horario"><h2>Horario del grupo {{grupo.semestre}} {{grupo.letra}}</h2></label>
    <br>
        <embed src="{{MEDIA_URL}}{{grupo.horario}}" type="application/pdf" width="100%" height="600px" id="horario"/>
        

{% else %}
<div class="col-m-12">
    <h2>Aun no hay horario establecido para éste grupo.</h2>
</div>
{% endif %}
    

{% endblock contenido %}

{% block js %}    
{% endblock js %}