{% extends 'base2.html' %}

{% block titulo %}
    Detalle de videojuego
{% endblock titulo %}

{% block css %}
{% endblock css %}

{% block contenido %}
<form method="post">{% csrf_token %}
    <p>¿Quieres eliminar al grupo?</p>
    <input type="submit" value="Sí, sí quiero" class="btn btn-success">
    <a href="{% url 'preinscripciones:lista_grupos' %}" class="btn btn-success">Mejor no</a>
</form>
{% endblock contenido %}

{% block js %}    
{% endblock js %}