{% extends 'base.html' %}
{% load static %}

{% block titulo %}

{% endblock titulo %}
    Grupos
{% block contenido %}

<h1 class="titulo">Lista de Grupos</h1>

<table class="table">
    <thead>
        <th>Grupo</th>
        <th>Cupo Límite</th>
        <th>Cupo Restante</th>
        <th>Semestre</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}">
                    <p>{{message}}</p>
                </div>
            {% endfor %}
	    {% endif %}

        {% for grupo in grupos %}
        <tr>
            <td>{{grupo.letra}}</td>
            <td>{{grupo.cupo_limite}}</td>
            <td>{{grupo.cupo}}</td>
            <td>{{grupo.semestre}}</td>
            <td>
                <!-- acciones -->

                {% if grupo.cupo > 0 and not perms.auth.administrador_permiso %}
                    <a href="{% url 'preinscripciones:inscribir' request.user.id grupo.id %}" class="btn btn-success">Inscribirme</a>
                {% endif %}
                {% if perms.auth.administrador_permiso %}
                    <a href="{% url 'preinscripciones:editar_grupo' grupo.id %}" class="btn btn-primary">Editar</a>
                    <button class="btn btn-danger" onclick="muestraModal('{% url 'preinscripciones:eliminar_grupo' grupo.id %}','grupo','{{grupo.semestre}}{{grupo.letra}}')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                        Eliminar
                    </button>
                {% endif %}

                <a href="{% url 'preinscripciones:ver_aspirantes_grupo' grupo.id %}" class="btn btn-primary">Lista Alumnos</a>
                <a href="{% url 'preinscripciones:ver_materias_grupo' grupo.id %}" class="btn btn-primary">Ver Materias</a>
                <a href="{% url 'preinscripciones:ver_grupo' grupo.id %}" class="btn btn-primary">Ver</a>
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    {% if perms.auth.administrador_permiso %}
        <a href="{% url 'preinscripciones:crear_grupo' %}" class="btn btn-primary float-right">Nuevo Grupo</a>
        <a href="{% url 'preinscripciones:agregar_materia_grupo' %}" class="btn btn-primary float-right">Asignar Materia a Grupo</a>
    {% endif %}
        
</div>
    
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación de eliminación</h5>
            </div>
            <div id='contenido-modal' class="modal-body">        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <form id='formEliminar' method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block js %}
<script>
    function muestraModal(url,tipo,usuario){
        document.getElementById('formEliminar').action = url;
        document.getElementById('contenido-modal').innerHTML = `¿Deseas eliminar al ${tipo} ${usuario}?`;
    }
</script>
{% endblock js %}