{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Materias
{% endblock titulo %}


{% block contenido %}
<h1 class="titulo">Lista de Materias</h1>

<table class="table">
    <thead>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Docentes que la imparten</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        {% for materia in materias %}
        <tr>
            <td>{{materia.nombre}}</td>
            <td>{{materia.descripcion}}</td>
            <td>
                {% if materia.docentes != None %}
                    {% for docente in materia.docentes %}
                    <div>
                        {{docente.last_name}} {{docente.first_name}}
                        <button class="btn btn-sm btn-danger" onclick="muestraModalDocente('{% url 'preinscripciones:eliminar_materia_docente' materia.id docente.id %}','{{materia.nombre}}', '{{docente.last_name}} {{docente.first_name}}')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                        <br>
                    {% endfor %}
                {% else %}
                    No tiene docentes actualmente
                {% endif %}
            </td>
            <td>
                <!-- acciones -->
                <a href="{% url 'preinscripciones:editar_materia' materia.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'preinscripciones:ver_materia' materia.id %}" class="btn btn-primary">Ver</a>
                <button class="btn btn-danger" onclick="muestraModalMateria('{% url 'preinscripciones:eliminar_materia' materia.id %}','{{materia.nombre}}')" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    <i class="glyphicon glyphicon-trash"></i>
                    Eliminar
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'preinscripciones:nueva_materia' %}" class="btn btn-primary">Nueva materia</a>
<a href="{% url 'preinscripciones:nueva_materia_docente' %}" class="btn btn-primary">Relacionar Docente a Materia</a>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación de eliminación</h5>
            </div>
            <div id='contenido-modal' class="modal-body">        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <form id='formEliminar' method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block js %}
<script>
    function muestraModalDocente(url,materia,docente){
        document.getElementById('formEliminar').action = url;
        document.getElementById('contenido-modal').innerHTML = `¿Deseas eliminar a la relación de la materia ${materia} y el docente ${docente}?`;
    }
    function muestraModalMateria(url,materia){
        document.getElementById('formEliminar').action = url;
        document.getElementById('contenido-modal').innerHTML = `¿Deseas eliminar a la materia ${materia}?`;
    }
</script>
{% endblock js %}