{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Error 403
{% endblock titulo %}

{% block css %}
{% endblock css %}

{% block contenido %}
<h5 class="text-center">Error 403</h5>
<h5 class="text-center">
    Permisos insuficientes
</h5>
{% endblock contenido %}

{% block js %}    
{% endblock js %}